.states:hover{
  	fill: orange;
  }

.municipalities:hover {
 	fill: orange;
}

.state-boundary {
  stroke: #fff;
}

.municipality-boundary {
  stroke: #fff;
  stroke-opacity: .25;
  stroke-width: .5px;
}

#chart {
  	position: absolute;
  	top: 50px;
  	left: 100px;
}