
.map{
width: 1200px;
height: 1000px;
border: #FFFF 1px solid;
}

.municipalities {
  fill: #222;
}

.municipalities :hover {
  fill: orange;
}

.state-boundary {
  stroke: #ffff;
}

.municipality-boundary {
  fill: none;
  stroke: #fff;
  stroke-opacity: .25;
  stroke-width: .5px;
  pointer-events: none;
}